<div class="modal fade modal-eliminar-gestion" id="modalEliminarAdmin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-socio-dialog" role="document">
        <div class="modal-content">
            <form id="formEliminarAdmin" method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Administrador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de eliminar a <strong id="eliminarAdminUsername"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
